venv
.idea
adamsapp/adamsapp/__pycache__
adamsapp/arms/__pycache__
adamsapp/splash/__pycache__
adamsapp/processed_data
adamsapp/raw_data
adamsapp/arms/migrations/__pycache__
adamsapp/splash/migrations/__pycache__
*.sqlite3
*.ipynb

